html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 66px;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #1b1b1b;
	min-width: 100%;
	width: auto;
	color: #989;
	padding-top:15px;
	height: 66px;
}

/*带链接的标题肯定不会需要下划线吧..*/
h2 a:hover , h3 a:hover {
	text-decoration:none; 
	cursor:pointer;
	color:black;
} 

h2 a , h3 a {
	color:#1b1b1b;
} 

/*剪切板按钮*/

.zero-clipboard{
	position:relative;
	display:none
}

.btn-clipboard{
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	display:block;
	padding:5px 8px;
	font-size:12px;
	color:#767676;
	cursor:pointer;
	background-color:#fff;
	border:1px solid #e1e1e8;
	border-radius:0 4px 0 4px;
}

.btn-clipboard:hover{
	color:#fff;
	background-color:#563d7c;
	border-color:#563d7c
}

@media (min-width:768px){
	.zero-clipboard{
		display:block
	}

	.zero-clipboard .btn-clipboard{
		top:-16px;
		border-top-right-radius:0
	}
}

/* 表格中的悬停tag(300px右) */
div.tr-tag {
	text-align: center;
	display: none;
	position: absolute;
	background-color: #ccc;
	line-height: 12px;
	min-height: 19px;
	min-width: 130px;
	max-width: 130px;
	z-index: 1000;
	padding: 7px 8px 3px 8px;
	font-size: 12px;
	margin-left: 300px;
	margin-top: -24px;
}

div.tr-tag:after{
	content: "";
	position: absolute;
	left:-6px;
	border-width: 6px 6px 6px 0;
	border-style: solid solid solid none;
	border-color: transparent #ccc transparent transparent;
}

tr:hover div.tr-tag{
	display: block;
}

div.tr-tag span{
	display: block;
	float:left;
	margin-right: 3px;
	margin-bottom: 3px;
	background-color: #eee;
	padding: 2px 3px;
	color:#08c;
}

/* 重载.progress */
.progress {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #cccccc, #dddddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #cccccc, #dddddd);
	background-image: -o-linear-gradient(top, #cccccc, #dddddd);
	background-image: linear-gradient(to bottom, #cccccc, #dddddd);
	height: 8px;
	margin: auto;
	width:150px;
	margin-top: 5px;
	margin-bottom: 3px;
}

/* 重载.progress .bar*/
.progress .progress-bar {
	background-image: -moz-linear-gradient(top, #149bdf, #0480be);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
	background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
	background-image: -o-linear-gradient(top, #149bdf, #0480be);
	background-image: linear-gradient(to bottom, #149bdf, #0480be);
}
