body { /*font-size: 0.9em; font-family: Arial, Helvetica, sans-serif;*/ }
#tableouter { /*margin-right: 60px;*/ }
table { margin-bottom: 20px; border-collapse: collapse; border: solid 1px #999; }
#standings { width: 100%; }
#legendouter { float: right; }
#tablelegend td { padding: 5px 10px; }
#links { float: left; }
#links div { padding: 5px 10px; float: left; }

td, th { padding: 5px 3px; border-bottom: 1px dashed #666; border-right: 1px dashed #999; text-align: center; }
th { font-weight: bold; }
th .stat { font-weight: normal; }
.ac { background: #e1ffb5; }
.firstac { background: #080; color: white !important; font-weight: bold; }
.fail { background: #ffdada; }
.pending { background: #c8d6fa; }
.concerned { font-weight: bold; color: #95060a; }
.concerned a { color: #95060a; }

table .gold { background: #f9d923; border: 1px outset #ffd700; }
table .silver { background: Silver; border: 1px outset sILVER; }
table .bronze { background: #c08e55; border: 1px outset #c9960c; }
table .other { border: solid 1px #999; }
a { color: #0062b1; font-weight: bold; }
a:hover { color: #008dff; font-weight: bold; }


#t table { border: 0px; }
.col {vertical-align: top;}
.team { text-align: left; }
.school { vertical-align: middle !important; text-align: center !important; }
.s { width: 100%; display: block; padding:2px 0; }
.s:hover { background-color: #ffc05c; border-color: #000; border: 1px; }
#m { padding-left: 10px; }
