body { background-color: #2e2e2e !important; color: #f0dfaf !important; }
#tableouter { /*margin-right: 60px;*/ }
table { margin-bottom: 20px; border-collapse: collapse; border: solid 1px #999999; }
#standings { width: 100%; }
#legendouter { float: right; }
#tablelegend td { padding: 5px 10px; }
#links { float: left; }
#links div { padding: 5px 10px; float: left; }

label { color: #f0dfaf !important; }
td, th { padding: 5px 3px; border-bottom: 1px dashed #666666; border-right: 1px dashed #999999; text-align: center; }
th { font-weight: bold; background-color: #444444; }
th .stat { font-weight: normal; }
.ac { background: #00620c; }
.firstac { background: #178825; color: #fff !important; font-weight: bold; }
.fail { background: #b01323; }
.pending { background: #2e4c84; }
.concerned { font-weight: bold; color: #9dd6ff; }
.concerned a { color: #9dd6ff !important; }

table .gold { background: #d3b81e; border: 1px outset #ffd700; color: #000000; }
table .silver { background: #a3a3a3; border: 1px outset sILVER; color: #000000; }
table .bronze { background: #c08e55; border: 1px outset #c9960c; color: #000000; }
table .other { border: solid 1px #999999; }
a { color: #999999 !important; font-weight: bold; }
a:hover { color: #cccccc !important; font-weight: bold; }

#t table { border: 0px; }
.col { vertical-align: top; }
.team { text-align: left; }
.school { vertical-align: middle !important; text-align: center !important; }
.s { width: 100%; display: block; padding: 2px 0; }
.s:hover { background-color: #666666; border-color: #000000; border: 1px; }
#m { padding-left: 10px; }

#tooltip { color: #000 !important; }
.tickLabel { color: #f0dfaf; }
